<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drink</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${drink.name}">Name of the category</h1>

        <h3>Drink's ingredients:</h3>

        <ul>
            <li th:each="drinkIngredient : ${drinkIngredients}">
                <span th:text="|${drinkIngredient.name},|">Name</span>
                <span text=","</span>
                <span th:text="|${drinkIngredient.amount},|">Amount</span>
                <span text=","</span>
                <span th:text="${drinkIngredient.instructions}">Instructions</span>
            </li>
        </ul>

        <br></br>
        <a th:href="@{~/}">Back to the front page</a>

    </body>
</html>
