<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinks</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Drinks in the database</h2>

        <ul>
            <li th:each="drink : ${drinks}">
                <a th:href="@{~/drinks/{id}(id=${drink.id})}">
                    <span style="text-align: left" th:text="${drink.name}">Topic</span>
                </a>
                <form method='POST' action='/removedrink'>
                    <button name="remove" type="submit" th:value="${drink.id}">remove</button>
                </form>
            </li>
        </ul>

        <h3>Add a new drink</h3>

        <form method="POST" action="/drinks">
            <input type="text" name="name"/><br/>
            <input type="submit" value="Add!"/>
        </form>
        <h3>Add ingredients to a drink</h3>
        <form method="POST" action="/drinkingredients">
            <span>Name of the drink:</span><br></br>
            <select name="drinkId">
                <option th:each="drink: ${drinks}" th:value="${drink.id}" th:text="${drink.name}">
                    drink
                </option>
            </select>
            <br></br>
            <span>Select an ingredient:</span><br></br>
            <select name="ingredientId">
                <option th:each="ingredient: ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}">
                    ingredient
                </option>
            </select>
            <br></br>
            <span> Order number [1,2,3...] </span><br></br> 
            <input type="text" name="orderNumber"/><br/>
            <span> Amount [e.g. 50g] </span><br></br> 
            <input type="text" name="amount"/><br/>
            <span> Instructions [e.g. shaken, not stirred] </span><br></br> 
            <input type="text" name="instructions"/><br/>
            <input type="submit" value="Add an ingredient" title="Add an ingredient" ></input>
        </form>

        <br></br>
        <a th:href="@{~/}">Back to the front page</a>

    </body>
</html>
