<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ingredients</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Available ingredients</h2>

        <ul>
            <li th:each="ingredient : ${ingredients}">
                <span style="text-align: left" th:text="${ingredient.name}">Ingredient</span>
                <form method='POST' action='/removeingredient'>
                    <button name="remove" type="submit" th:value="${ingredient.id}">remove</button>
                </form>
            </li>
        </ul>

        <h3>Add a new ingredient</h3>

        <form method="POST" action="/ingredients">
            <input type="text" name="name"/><br/>
            <input type="submit" value="Add!"/>
        </form>

        <br></br>
        <a th:href="@{~/}">Back to the front page</a>

    </body>
</html>
